<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Node.Js e Express</title>
  </head>
  <body>
    <h1>Node.Js e Express</h1>
    <nav>
      <a href="/">Inicio</a>
      <a href="/sobre">Sobre</a>
      <a href="/contato">Contato</a>
    </nav>
    <hr />

    <h1>Sobre</h1>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus, culpa
      unde vel repudiandae asperiores voluptas consectetur minus adipisci, ipsa
      enim ut praesentium aliquam molestiae. Accusamus cum perspiciatis, nemo
      quod impedit culpa molestiae accusantium reiciendis consequatur quam sit
      dolores dolore dolorum quae vel aut vitae animi error iusto possimus!
      Consequuntur, officia!

      <h1>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus, culpa</h1>
    </p>
  </body>
</html>
